<div class="p-2">
    <div class="drawing-tools tools">
        <a href="#" class="cursor" title="{{ __('Selection') }}"><i class="fas fa-mouse-pointer"></i></a>
        <a href="#" class="tool-btn" title="{{ __('Free drawing') }}" data-tool="free"><i class="fas fa-pencil-alt"></i></a>
        <a href="#" class="tool-btn" title="{{ __('Line') }}" data-tool="line"><i class="fas fa-horizontal-rule"></i></a>
        <a href="#" class="tool-btn" title="{{ __('Rectangle') }}" data-tool="rect"><i class="fas fa-draw-square"></i></a>
        <a href="#" class="tool-btn" title="{{ __('Free polygon') }}" data-tool="freepolygon"><i class="fas fa-draw-polygon"></i></a>
        <a href="#" class="tool-btn" title="{{ __('Circle') }}" data-tool="circle"><i class="fas fa-draw-circle"></i></a>
        <a href="#" class="tool-btn" title="{{ __('Regular polygon') }}" data-tool="polygon"><i class="fas fa-hexagon"></i></a>
        <a href="#" class="tool-btn" title="{{ __('Arrow') }}" data-tool="arrow"><i class="fas fa-long-arrow-right"></i></a>
        <a href="#" class="tool-btn" title="{{ __('Text') }}" data-tool="text"><i class="fas fa-text"></i></a>
        <a href="#" class="tool-btn" title="{{ __('Point of Interest') }}" data-tool="poi"><i class="fas fa-map-marker-alt"></i></a>
        <a href="#" class="tool-btn" title="{{ __('Clear all my drawings') }}" data-tool="erase"><i class="fas fa-eraser"></i></a>
    </div>

    <div id="drawing-options-container"></div>
</div>