{# <div class="form-group">
    <label>{{ __('Name') }}</label>
    <input type="text" class="form-control" placeholder="{{ __('Name of the craft') }}" name="name">
</div>
#}

<div class="craft-sheet-container">
    {{ html|safe }}
</div>