<div class="btn-group dropdown-item dropright">
    <button type="button" class="dropdown-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-expand"></i> {{ __('Adapt') }}
    </button>
    <div class="dropdown-menu menu">
        <a href="#" class="dropdown-item adapt-action" title="{{ __('This action cannot be cancelled') }}"><i class="fas fa-expand-wide"></i> {{ __('Adapt scene to image') }}</a>
        <a href="#" class="dropdown-item adapt-image-action" title="{{ __('This action cannot be cancelled') }}"><i class="fas fa-expand-alt"></i> {{ __('Adapt image to scene') }}</a>
    </div>
</div>