<div class="btn-group dropdown-item dropright">
    <button type="button" class="dropdown-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-send-backward"></i> {{ __('Move') }}
    </button>
    <div class="dropdown-menu menu">
        <a href="#" class="dropdown-item front-action"><i class="fas fa-bring-front"></i> {{ __('Bring to front') }}</a>
        <a href="#" class="dropdown-item up-action"><i class="fas fa-bring-forward"></i> {{ __('Bring forward') }}</a>
        <a href="#" class="dropdown-item down-action"><i class="fas fa-send-backward"></i> {{ __('Bring backward') }}</a>
        <a href="#" class="dropdown-item back-action"><i class="fas fa-send-back"></i> {{ __('Bring to back') }}</a>
    </div>
</div>