<div class="journal-entry">
    <nav class="tabs">
        <ul>
            <li>
                <a href="#" class="active" data-pane="view"><i class="fas fa-eye"></i> {{ __('View') }}</a>
            </li>
            <li>
                <a href="#" data-pane="edit"><i class="fas fa-pen-nib"></i> {{ __('Edit') }}</a>
            </li>
            <li>
                <a href="#" data-pane="share"><i class="fas fa-share-alt"></i> {{ __('Share') }}</a>
            </li>
        </ul>
    </nav>

    <div class="tab-panes">
        <div class="pane active pane-view"></div>
        <div class="pane pane-edit"></div>
        <div class="pane pane-share"></div>
    </div>
</div>

<div class="journal-footer">

</div>