<div class="journal-help-content">
    <p>{{ __("The journal is where you save documents, write notes, share images and more.") }}</p>
    <p>{{ __('Your own entries and files are saved in the "My Content" tab, while those that other players at the table share with you are in the "Shared with Me" tab.') }}</p>

    <h2>{{ __("Use the context menu!") }}</h2>
    <p>{{ __("By right-clicking on items in the list, you will have access to several actions, such as renaming or deleting folders and entries, or creating subfolders.") }}</p>

    <h2>{{ __("Share stuff") }}</h2>
    <ul>
        <li>{{ __('To share a whole folder, right-click on the list, then "Share". You can then give read access to the whole table or just some people. All subfolders and entries in that folder will be shared.') }}</li>
        <li>
            {{ __("To share just one entry, you can use the same process as for folders, or to have finer permissions: open the document, then open the share tab. From this screen, you can choose who to share it with, and if it is possible to modify the document.") }}
            {{ __("Be careful not to modify the same entry simultaneously, or you may lose content.") }}
        </li>
    </ul>

    <h2>{{ __("Reveal an entry") }}</h2>
    <p>{{ __('You can force an entry to be displayed on the screen of players who are currently logged in. This will also share the entry in read-only mode. To do this, right-click on the entry > Reveal, or, for more control, open the entry and go to the "Sharing" tab.') }}</p>

    <h2>{{ __('Send files') }}</h2>
    <p>{{ __('You can send a PDF or an image and turn it into a journal entry in the process with the "Upload" button. The usual weight limits apply (32MB for PDFs, 16MB for images), and the files will count against your disk space.') }}</p>

    <h2>{{ __("Move an entry or a folder") }}</h2>
    <p>{{ __("You can simply drag and drop entries and folders in the list to reorganize them as you wish!") }}</p>


    <p>
        <strong>
            <a href="https://lets-role.com/help/en/journal/" target="_blank">
                {{ __("Need more help? Head over to the help center.") }}
            </a>
        </strong>
    </p>
</div>