<div class="journal-roll">
    <form action="#">
        <div class="form-group">
            <label for="journal-roll-title">{{ __('Title') }}</label>
            <input type="text" class="form-control" id="journal-roll-title" placeholder="{{ __('Optional...') }}">
        </div>
        <div class="form-group mt-2">
            <label for="journal-roll-formula">{{ __('Dice formula') }}</label>
            <input type="text" class="form-control" id="journal-roll-formula" placeholder="{{ __('Ex: 5d6, keeph(2d20)') }}">
        </div>
        <div class="form-group mt-2">
            <input type="submit" class="btn btn-secondary" value="{{ __('Add roll to content') }}">
        </div>
    </form>
</div>