<div id="token-menu" class="d-none">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="token-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bars"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="token-dropdown">
            <a class="dropdown-item aura-menu-item" href="#">{{ __('Auras') }}</a>
            <a class="dropdown-item bar-menu-item" href="#">{{ __('Bars') }}</a>
        </div>
    </div>
</div>