$dark1: #031a07;
$grey1: #00bc1a;
$grey2: #03370d;
$grey3: #ccc;
$grey4: #e4e4e4;
$grey5: #006e11;
$grey6: #03370d;
$white: #fff;

$secondaryColor: #00bc1a;
$backgroundColor: #031a08;

$scrollbar-thumb: #00bc1a;
$scrollbar-track: #03370d;

$green: #00bc1a;
$orange: #00bc1a;
$black: #0f0c0e;

$font2: "flex";
