<div class="sound-library">
    <div class="row">
        <div class="col-3">
            <div class="d-flex flex-column menu-container">
                <a href="#" class="btn btn-secondary explore-btn btn-block">
                    <i class="fas fa-headphones"></i>
                    {{ __('Explore') }}
                </a>

                <a href="#" class="btn btn-secondary record-btn btn-block">
                    <i class="fas fa-microphone"></i>
                    {{ __('Record Voice') }}
                </a>

                <a href="#" class="btn btn-secondary playlist-btn btn-block">
                    <i class="fas fa-plus-square"></i>
                    {{ __('New Playlist') }}
                </a>

                <h4 class="my-playlists-title">{{ __('My Playlists') }}</h4>
                <div class="playlist-list"></div>
            </div>
        </div>
        <div class="col sound-container">

        </div>
    </div>
</div>