<h2 class="new-playlist-title">{{ __('New Playlist') }}</h2>

<form class="create-form">
    <input type="text" class="playlist-name form-control" placeholder="{{ __('Name of the new playlist...') }}">

    <input type="submit" class="button button-secondary mt-2" value="{{ __('Create') }}">

    <p class="text-success d-none">{{ __('The new playlist has been created!') }}</p>
</form>