$dark1: #1b0d15;
$grey1: #8c1b59;
$grey2: #3f1830;
$grey3: #ccc;
$grey4: #e4e4e4;
$grey5: #717681;
$grey6: #5d2245;
$white: #fff;

$secondaryColor: #8c1b59;
$backgroundColor: #1b0d15;

$scrollbar-thumb: #8c1b59;
$scrollbar-track: #3f1830;

$yellow: #f4e556;
$orange: #f4e556;
$black: #0f0c0e;

$font2: "orbitron";
