<div class="d-flex folder-header align-items-center">
    <span><i class="fas fa-folder-open"></i> {{ folder.name }}</span>
    <a href="#" class="parent-btn" data-id="{{ folder.parentId }}"><i class="fas fa-arrow-alt-circle-up"></i></a>
    <a class="folder-edit-btn" data-id="{{ folder.id }}" href="#" title="{{ __('Edit folder') }}"><i class="fas fa-cog"></i></a>
</div>