<div>
    <input type="search" class="form-control search-input" placeholder="{{ __('Quick search ambiances & songs...') }}">
</div>

<div id="partner-songs-container"></div>

<div class="mt-2">
    <a href="#" class="btn btn-secondary create-playlist-btn"><i class="fas fa-plus"></i> {{ __('Create new playlist') }}</a>
</div>

<div class="create-container"></div>

<div class="playlist-list mt-2">

</div>