<div class="playlist playlist-creator mt-2">
    <input type="text" class="form-control" name="title" placeholder="{{ __('Title of the playlist') }}">
    <div class="d-flex mt-2 justify-content-between">
        <a href="#" class="save-btn button button-primary">{{ __('Save') }}</a>
        <a href="#" class="text-danger cancel-btn">{{ __('Cancel') }}</a>
    </div>
</div>