<div class="d-flex align-items-center">
    <h4 class="mr-2">
        <i class="fas fa-folder-open"></i> {{ folder.name }}
    </h4>

    <a href="#" class="folder-up-btn" data-parent="{{folder.parentId}}"><i class="fas fa-level-up"></i></a>
    <a class="ml-auto folder-rename-btn btn btn-secondary" href="#" title="{{ __('Rename folder') }}"><i class="fas fa-edit"></i></a>
</div>