@import "../../variables";
@import "variables";
@import "font";

@import "../../all";

#app #map {
  background-image: url("./bg.jpg");
}

a {
  color: $white;
}

.column {
  overflow: visible;

  section.dock {
    &.closed {
      box-shadow: none;
    }

    > header {
      background: #4a626f url("./header.png") repeat-x;
      background-size: auto 100%;
      border-radius: 0;
      height: 35px;

      h3 {
        font-weight: normal;
        font-size: 14px;
        height: 35px;
        margin-top: 2px;

        i {
          font-size: 20px;
          color: $white;
        }
      }

      .dock-title {
        position: relative;
        top: -2px;
      }

      .dock-options {
        margin-top: 0;
      }

      i {
        color: $yellow;
      }
    }

    main {
      background: #2f3c41 url("./window2.png") repeat;

      .form-control {
        border: 1px solid $yellow;
        border-radius: 0;
      }

      select {
        border: 1px solid $yellow !important;
        border-radius: 0 !important;
        font-family: $font2 !important;
        min-height: 20px;
      }
    }
  }
}

#quickbar {

  &::before {
    background: url("./quickbar.png") no-repeat;
    width: 847px;
    height:135px;
    content: "";
    position: absolute;
    left: -34px;
    top: -48px;
  }

  .toggle {
    color: $yellow;
    background: $grey1;
  }

  section {
    background: url("./slot.png") no-repeat;
    background-size: 100% 100%;

    > a {
      top: 2px;
      left: 2px;
    }
  }
}

.popin {
  background-color: transparentize($grey6, 0.15);
  background-repeat: repeat;
  border: 1px solid $grey5;

  > header {
    background: $grey2;

    h3 {
      color: $white;
      font-size: 14px;
    }

    a {
      color: $yellow !important;
      opacity: 1 !important;
    }
  }
}

.popin.popin-journal {
  background-color: transparentize($grey6, 0.25);
  background-repeat: repeat;
  color: $white;

  > header {
    background: $grey2;

    h3 {
      color: $white;
      font-size: 14px;
    }
  }

  label {
    color: #fff;
  }

  input,
  select {
    background-color: $grey5;
    color: #fff;
  }

  main {
    color: $white;

    .encyclopedia-page-edit {
      color: $dark1;
    }

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      background: $scrollbar-thumb;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-track {
      background: $scrollbar-track;
      border-radius: 20px;
    }
  }

  .actions {
    top: auto;
    bottom: 10px;
    left: -50px;

    a {
      background: transparent;
      color: $yellow;

      &:hover {
        background: transparent;
        color: $white;
      }
    }
  }
}

.encyclopedia-share,
.popin.popin-journal .access-users,
.popin.popin-journal .access-tables {
  color: $orange;
}

.popin.popin-journal input,
.popin.popin-journal select {
  background: $grey2;
  color: white;
}

.media-manager .sidebar .available-disk .progress-bar {
  background: $grey2;
}
