$dark1: #03141a;
$grey1: #49758d;
$grey2: #032837;
$grey3: #ccc;
$grey4: #e4e4e4;
$grey5: #0874a1;
$grey6: #032537;
$white: #fff;

$secondaryColor: #007cbc;
$backgroundColor: #122026;

$scrollbar-thumb: #f2c014;
$scrollbar-track: #283b43;

$orange: #009fbc;
$black: #0f0c0e;

$yellow: #f2c014;

$font2: "tektur-bold";
