#main-menu {
  z-index: $zMainMenu;
  width: 640px;
  position: absolute;
  top: 0;
  left: calc(50% - 320px);
  transition: top 0.25s ease-out;

  &.no-animation {
    transition: none;
  }

  .main-menu-title {
    text-align: center;
    height: 0px;

    a {
      color: #d9d9d9;
      background: transparentize(#0c0e1a, 0.25);
      display: inline-block;
      padding: 5px 10px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      font-weight: bold;
      font-size: 13px;
      text-decoration: none;
      transition: color 0.15s linear;

      i {
        display: inline-block;
        margin: 0 10px;
        color: #5c5e63;
        transition: color 0.15s linear;
      }

      &:hover {
        color: $orange;

        i {
          color: darken($orange, 0.2);
        }
      }
    }
  }

  .main-menu-inside {
    background: transparentize($backgroundColor, 0.25);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 20px;
    padding-top: 0;

    h3 {
      font-weight: bold;
      font-size: 13px;
      padding: 0;
      color: $secondaryColor;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    section {
      background: $backgroundColor;
      color: #dde2de;
      font-size: 13px;
      font-weight: bold;
      padding: 8px 8px;
      margin-bottom: 2px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.active {
        background: $secondaryColor;
      }

      .buttons {
        i {
          cursor: pointer;
          display: inline-block;
          text-align: center;
          width: 22px;
          margin-left: 5px;
          opacity: 0.5;

          &.fa-eye {
            opacity: 1;
          }

          &.enabled {
            opacity: 1;
          }
        }
      }

      a {
        color: #dde2de;
        font-size: 13px;
        font-weight: bold;
        text-decoration: none;
        display: block;
        flex-grow: 1;

        i {
          display: inline-block;
          text-align: center;
          width: 22px;
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
  }
}
