#token-action-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: $zTokenAction;
  pointer-events: none;
}

#token-menu {
  position: absolute;
  pointer-events: auto;
}

#token-edit-bar {
  position: absolute;
  pointer-events: auto;
  width: 100px;

  input {
    text-align: center;
  }
}

.aura-selector {
  .color-item {
    display: inline-block;
    width: 4.3%;
    height: 20px;
    border-radius: 4px;
    margin-right: 0.5rem;

    &.selected {
      border: 2px solid #fff;
    }
  }

  #icons-container {
    img {
      max-width: 32px;
      max-height: 32px;
    }
  }

  .selected-icon {
    border: 2px solid $grey5;
    display: inline-block;
    margin-right: 5px;

    img {
      max-width: 64px;
      max-height: 64px;
    }
  }
}

.bar-color-selector {
  height: 25px;
  width: 90%;
  border-radius: 3px;
  cursor: pointer;

  &.active {
    border: 3px solid #fff;
  }
}
