<div class="scene-data">
    <div class="container py-2">
        <div class="pt-2">
            <div id="scene-infos"></div>
        </div>

        <div class="mt-2">
            <div id="layers"></div>
        </div>

        <div class="media-manager-container">
            <a href="#" id="media-manager-btn">
                <i class="fas fa-photo-video"></i>  {{ __('Media Manager') }}
            </a>
        </div>
    </div>
</div>

<div class="toolbar d-flex">
    <a href="#" id="create-scene-btn"><i class="fas fa-plus-circle"></i> {{ __('New scene') }}</a>
    <a href="#" id="create-layer-btn" class="ml-auto"><i class="fas fa-layer-plus"></i> {{ __('New layer') }}</a>
</div>