<div class="popin {{ className }}" id="{{ id }}" {% if width %}style="width: {{ width }}px"{% endif %}>
    <header class="d-flex flex-row align-items-center">
        {% if icon %}
            <i class="popin-icon {{ icon }}"></i>
        {% endif %}

        <h3>
            {{ title }}
        </h3>

        {% if canDock %}
            <div class="dropdown">
                <a href="#" class="dock dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-th-large"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item dock-left" href="#">{{ __('Dock to the left') }}</a>
                    <a class="dropdown-item dock-right" href="#">{{ __('Dock to the right') }}</a>
                </div>
            </div>
        {% endif %}

        {% if canMinimize %}
            <a href="#" class="minimize"><i class="fas fa-window-minimize"></i></a>
            <a href="#" class="maximize"><i class="far fa-window-maximize"></i></a>
        {% endif %}

        {% if extraHeader %}
            <div class="extra-header mr-2">
                {{ extraHeader|safe }}
            </div>
        {% endif %}

        {% if canClose %}
            <a href="#" class="close"><i class="fas fa-times"></i></a>
        {% endif %}
    </header>
    <main>
        {{ html|safe }}
    </main>
    <span class="resize">◢</span>
</div>