<div class="quickbar-tooltip">
    {{ __('Click to roll for %{title}', { title: title}) }}
    {% if formula %}[<em class="formula">{{ formula }}</em>].{% endif %}

    <small>{{ __('Right click to edit') }}</small>
</div>