<div class="card text-white bg-dark d-none" style="max-width: 16rem;" id="emoji-drawer">
    <div class="card-body p-2 pl-2 pr-4">
        {% for emoji in emojis %}
            <span>{{ emoji }}</span>
        {% endfor %}
    </div>
</div>