<div class="dropdown-menu options show">
    <a class="icon-btn dropdown-item" href="#"><i class="fas fa-image"></i> <span>{{ __('Change Icon') }}</span></a>
    <a class="delete-btn dropdown-item" href="#"><i class="fas fa-trash-alt"></i> <span>{{ __('Remove') }}</span></a>
</div>