<h3>{{ __('Wall') }}</h3>
<small class="subtitle">{{ __('Selected') }}</small>


<p>
    <a href="#" class="door-btn" data-action="door"><i class="fas fa-dungeon"></i> {{ __('Convert to door') }}</a>
    <a href="#" class="delete-btn"><i class="fas fa-trash-alt"></i> {{ __('Delete') }}</a>
</p>