<div class="turn-order as-gm">
    <div class="items"></div>

    <div class="toolbar d-flex">
        <a href="#" class="add-turn-btn"><i class="fas fa-plus-circle"></i> {{ __('Add turn') }}</a>
        <a href="#" class="next-btn"><i class="fas fa-fast-forward"></i> {{ __('Next') }}</a>

        <a href="#" class="ml-auto clear-btn"><i class="fas fa-flask-potion"></i> {{ __('Clear') }}</a>
    </div>
</div>