@import "../variables";

@font-face {
  font-family: "electrolize";
  src: url("Electrolize-Regular.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

.sheet.skin-cyberpunk {
  background: #151114 url("noise.png");

  .highlight-1,
  .highlight-2 {
    background: rgba(59, 31, 47, 0.3) !important;
    border-radius: 0;
    border: 1px solid rgba(#cc1879, 0.2);
  }

  .highlight-1 {
    background-image: url("cyber-highlight-topleft.png"),
      url("cyber-highlight-bottomright.png") !important;
    background-repeat: no-repeat, no-repeat !important;
    background-position: top left, bottom right !important;
    background-size: 70px, 70px !important;
    clip-path: polygon(
      15px 0%,
      calc(100% - 15px) 0%,
      100% 0,
      100% calc(100% - 15px),
      calc(100% - 15px) 100%,
      0 100%,
      0% calc(100% - 15px),
      0% 15px
    );
  }

  .widget.label {
    font-family: electrolize;
    font-size: 110%;
  }

  .widget.label.text-large,
  .widget.label.text-giant {
    background-image: url("cyber-label-topleft.png"),
      url("cyber-label-topright.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, top right;
    background-size: 8px, 8px;
  }

  select.widget.choice {
    color: white;
    border-radius: 0;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    background: rgba(#4d0f30, 0.8) url("cyber-arrow-down.svg") no-repeat center
      right;
    background-size: contain;
    padding-right: 28px;
    box-shadow: inset 0 0 0 1px #8c1455;
    font-family: electrolize;
  }

  input[type="text"],
  input[type="number"],
  textarea {
    background: rgba(#2a0e1e, 0.7);
    color: #fff;
    font-weight: bold;
    border: 1px solid #cc1879;
    border-bottom-width: 2px;
    border-radius: 0;
    font-family: electrolize;
  }

  .custom-checkbox .custom-control-input ~ .custom-control-label::before {
    background-color: rgba(#cc1879, 0.2);
    border: 1px solid #cc1879;
  }

  .custom-checkbox
    .custom-control-input:checked
    ~ .custom-control-label::before {
    background-color: rgba(#cc1879, 0.2);
    border: 1px solid #cc1879;
  }

  .custom-checkbox
    .custom-control-input:checked
    ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='pink' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
  }

  .nav-tabs {
    border-bottom: 0 none;
  }

  .nav-item {
    background: rgba(#cc1879, 0.2);
    font-family: electrolize;
  }

  .nav-link.active {
    background: #cc1879;
    color: #fff;
    border-radius: 0;
    border: 0 none;
  }

  .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(#cc1879, 0.25);
  }

  .btn-repeater-add {
    clip-path: polygon(8px 0, 100% 0, 100% 100%, 0 100%, 0 8px);
    background: #20fffd;
    color: #191018;
    border-radius: 0;
    font-family: electrolize;
  }

  .widget {
    &.clickable {
      cursor: pointer;

      &:hover {
        color: #cc1879;
      }
    }
  }
}
