<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/website.css">
    <title>Let's Role - Dev</title>
  </head>
  <body>
    <div class="container">
      <div class="d-flex align-items-center my-3">
        <h1>
          <img src="/logo.svg" height="60" />
        </h1>
        <h4 class="ml-3">Development Environment</h4>
      </div>

      {% block content %}{% endblock %}
    </div>
    <script src="/js/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  </body>
</html>
