<div class="books">
    <div class="d-flex search-container">
        <div class="flex-grow-1">
            <input type="search" class="form-control search-input" placeholder="{{ __('Find anything...') }}">
        </div>
        <a class="btn btn-primary go-back-btn d-none" href="#">{{ __('Go back') }}</a>
    </div>

    <div class="books-content">

    </div>
</div>