$dark1: #191615;
$grey1: #3e3b38;
$grey2: #2f2b2b;
$grey3: #ccc;
$grey4: #e4e4e4;
$grey5: #8b6741;
$grey6: #312822;
$white: #fff;

$secondaryColor: #a9967a;
$backgroundColor: #122026;

$scrollbar-thumb: #a9967a;
$scrollbar-track: #3f3836;

$orange: #c77e3a;
$black: #0f0c0e;

$yellow: #bc6a00;

$font2: "unifraktur";
