    <div class="search-container">
        <input type="search" class="form-control search-input" placeholder="{{ __('Search in your PDF library...') }}">
        {#
        <div>
            <select class="filter-input">
                <option value="">{{ __('All') }}</option>

            </select>
        </div>
        #}
    </div>

    <div class="pdf-lookup-container"></div>