$dark1: #11110f;
$grey1: #3f3730;
$grey2: #151412;
$grey3: #af8670;
$grey4: #af8670;
$grey5: #717681;
$grey6: #24201c;
$white: #fff;

$secondaryColor: #3f3730;
$backgroundColor: #11110f;

$scrollbar-thumb: #af8670;
$scrollbar-track: #3f3730;

$yellow: #c13c31;
$orange: #c13c31;
$black: #0f0c0e;

$dock-header-height: 40px;

$font2: "bitter";
