$dark1: #09080a;
$grey1: #3b3b3b;
$grey2: #151412;
$grey3: #b2aa9e;
$grey4: #b2aa9e;
$grey5: #717681;
$grey6: #24201c;
$white: #fff;

$secondaryColor: #3f3730;
$backgroundColor: #11110f;

$scrollbar-thumb: #b8afa3;
$scrollbar-track: #2d2721;

$yellow: #fff;
$orange: #fff;
$black: #0f0c0e;

$dock-header-height: 35px;

$font2: "elite";
