<div class="menu dropdown-menu show" style="left: {{ left }}px; top: {{ top }}px">
    <a href="#" class="dropdown-item" data-action="delete"><i class="fas fa-trash-alt"></i> {{ __('Delete (%{count})', {count: count}) }}</a>
</div>
