<div class="empty-medias">
    <p>{{ __("Some <em>Let's Role</em> partners have agreed to share their content for free with the whole community! So, you can use these high definition media without restrictions.")|safe }}</p>

    <p>{{ __('Feel free to visit the partner websites to see more content and thank them!') }}</p>
</div>