<div class="partner-info">
    <img src="{{ cdnReadUrl }}/{{ partner.logo_path }}" class="logo">
    <div>
        <h3><a href="{{ partner.url }}" target="_blank">{{ partner.name }}</a></h3>
        <p>
            <a href="{{ partner.url }}" target="_blank">
                {{ __("Do you like this content? Find more on this partner's website: %{url}", {url: partner.url}) }}
            </a>
        </p>
    </div>
</div>
<div class="row media-thumb-layout" id="medias-container">

</div>