<i class="fas fa-server"></i>
{{ __('%{used} / %{total}', {
    used: humanDiskSpace(used),
    total: humanDiskSpace(total)
}) }}

<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{ used_percent }}%"></div>
</div>