<div class="size-selector">
    <i class="fas fa-square"></i>
    <div class="bg-line">
        <div class="step" data-col="1"></div>
        <div class="step" data-col="2"></div>
        <div class="step" data-col="3"><span class="active"></span></div>
        <div class="step" data-col="4"></div>
    </div>
    <i class="fas fa-grip-horizontal"></i>
</div>
<div class="row media-thumb-layout" id="medias-container">

</div>