<div class="card text-white bg-dark mb-3">
    <div class="card-header">{{ table.name }}</div>
    <div class="card-body">
        <a href="/play/{{ table.id }}/gm" class="card-link">Join as GM</a>
        <a href="/play/{{ table.id }}/player" class="card-link">Join as Player</a>
    </div>
</div>
