<div class="d-flex fog-tools">
    <div class="flex-grow-1">
        <small>{{ __('Reveal') }}</small>

        <div class="d-flex">
            <a href="#" id="fog-poly" class="btn btn-secondary flex-grow-1" title="{{ __('Reveal by polygon (double click to close the polygon)') }}"><i class="far fa-draw-polygon"></i></a>
            <a href="#" id="fog-rect" class="btn btn-secondary flex-grow-1" title="{{ __('Reveal by rectangle') }}"><i class="far fa-rectangle-wide"></i></a>
            <a href="#" id="fog-reveal-all" class="btn btn-secondary flex-grow-1" title="{{ __('Reveal the whole map') }}">{{ __('All') }}</a>
        </div>
    </div>

    <div class="flex-grow-1">
        <small>{{ __('Hide') }}</small>

        <div class="d-flex">
            <a href="#" id="fog-hide-poly" class="btn btn-secondary flex-grow-1" title="{{ __('Hide by polygon (double click to close the polygon)') }}"><i class="far fa-draw-polygon"></i></a>
            <a href="#" id="fog-hide-rect" class="btn btn-secondary flex-grow-1" title="{{ __('Hide by rectangle') }}"><i class="far fa-rectangle-wide"></i></a>
            <a href="#" id="fog-hide-all" class="btn btn-secondary flex-grow-1" title="{{ __('Hide the whole map') }}">{{ __('All') }}</a>
        </div>
    </div>
</div>